<p>
  role-permission works!
</p>
<div class="tree">
  <ul *ngFor="let ca of tree">
      <li [class.pointer]="ca.children">
        <span (click)="showCategory(ca.id)" Class="glyphicon glyphicon-play"></span><input type="checkbox" [(ngModel)]="ca.checked">
        <span (click)="selectedNode(ca)">{{ca.name}}</span>
        <ul *ngFor="let subca of ca.children">
           <li [class.pointer]="subca.children" *ngIf="subca.status">
              <span Class="glyphicon glyphicon-play" (click)="showSubCategory(subca.id)"></span><input type="checkbox" [(ngModel)]="subca.checked">
              <span (click)="selectedNode(subca)" >{{subca.name}}</span>
              <ul *ngFor="let item of subca.children">
                  <li (click)="showItem(item.id)" *ngIf="item.status">
                     <input type="checkbox" [(ngModel)]="item.checked">
                     <span (click)="selectedNode(item)">{{item.name}}</span>
                  </li>
               </ul>
           </li>
        </ul>
      </li>
  </ul>
  
</div>
<i ></i>